.vscode
.claude
target
data/raw
examples/strapdown-sim/out

# Map files
*.nc

# MCAP test output files
*.mcap

# Ignore latex junk
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.bcf
*.zip
*.nav
*.snm
*.toc
*.vrb
*.run.xml

# pixi environments
.pixi
*.egg-info

# python notes
*.ipynb_checkpoints
*.pyc
__pycache__

# pixi environments
.pixi
*.egg-info
.python-version
uv.lock
batch_process.nu
.pixi/*
!.pixi/config.toml

# Data output
examples/geonav-sim/ukf
examples/geonav-sim/pf
data/output/*

# Ignore ruff
.ruff_cache/
papers/anomaly_ukf/data/combined_statistics_error.csv

# mdBook output
book/book/

# Generated performance plots
data/output/*.png
pixi.lock
Cargo.lock
data/output/ukf/degraded/2023-08-04_21-47-58.csv
data/output/ukf/degraded/2023-08-04_21-47-58.png
data/output/ukf/degraded/2023-08-06_14-48-05.csv
data/output/ukf/degraded/2023-08-06_14-48-05.png
data/output/ukf/degraded/2023-08-09_12-47-42.csv
data/output/ukf/degraded/2023-08-09_12-47-42.png
data/output/ukf/degraded/2023-08-09_16-37-41.csv
data/output/ukf/degraded/2023-08-09_16-37-41.png
data/output/ukf/degraded/2024-06-20_16-55-50.csv
data/output/ukf/degraded/2024-06-20_16-55-50.png
data/output/ukf/degraded/2025-03-01_15-04-26.csv
data/output/ukf/degraded/2025-03-01_15-04-26.png
data/output/ukf/degraded/2025-03-01_16-46-39.csv
data/output/ukf/degraded/2025-03-01_16-46-39.png
data/output/ukf/degraded/2025-06-11_20-34-24.csv
data/output/ukf/degraded/2025-06-11_20-34-24.png
data/output/ukf/degraded/2025-06-14_21-17-02.csv
data/output/ukf/degraded/2025-06-14_21-17-02.png
data/output/ukf/degraded/2025-06-18_15-09-25.csv
data/output/ukf/degraded/2025-06-18_15-09-25.png
data/output/ukf/degraded/2025-06-18_16-52-32.csv
data/output/ukf/degraded/2025-06-18_16-52-32.png
data/output/ukf/degraded/2025-06-27_11-54-35.csv
data/output/ukf/degraded/2025-06-27_11-54-35.png
data/output/ukf/degraded/2025-07-04_17-24-46.csv
data/output/ukf/degraded/2025-07-04_17-24-46.png
data/output/ukf/degraded/2025-07-05_20-59-22.csv
data/output/ukf/degraded/2025-07-05_20-59-22.png
data/output/ukf/degraded/2025-07-08_14-12-53.csv
data/output/ukf/degraded/2025-07-08_14-12-53.png
data/output/ukf/degraded/2025-07-11_13-33-16.csv
data/output/ukf/degraded/2025-07-11_13-33-16.png
data/output/ukf/degraded/2025-07-18_23-13-43.csv
data/output/ukf/degraded/2025-07-18_23-13-43.png
data/output/ukf/degraded/2025-07-31_23-36-03.csv
data/output/ukf/degraded/2025-07-31_23-36-03.png
data/output/ukf/degraded/2025-08-03_18-15-59.csv
data/output/ukf/degraded/2025-08-03_18-15-59.png
data/output/ukf/degraded/2025-09-26_19-03-38.csv
data/output/ukf/degraded/2025-09-26_19-03-38.png
data/output/ukf/degraded/2025-09-27_12-54-35.csv
data/output/ukf/degraded/2025-09-27_12-54-35.png
data/output/ukf/degraded/2025-09-27_18-10-16.csv
data/output/ukf/degraded/2025-09-27_18-10-16.png
data/output/ukf/degraded/2025-09-28_20-23-16.csv
data/output/ukf/degraded/2025-09-28_20-23-16.png
data/output/ukf/degraded/2025-11-09_17-34-01.csv
data/output/ukf/degraded/2025-11-09_17-34-01.png
data/output/ukf/degraded/2025-11-16_16-08-14.csv
data/output/ukf/degraded/2025-11-16_16-08-14.png
