.vscode
target
data/raw
examples/strapdown-sim/out

# Map files
*.nc

# Ignore latex junk
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.bcf
*.zip

# pixi environments
.pixi
*.egg-info


# python notes
*.ipynb_checkpoints
*.pyc
__pycache__

# pixi environments
.pixi
*.egg-info
.python-version
pyproject.toml
uv.lock
batch_process.nu
.pixi/*
!.pixi/config.toml

# Data output
examples/geonav-sim/ukf
examples/geonav-sim/pf

# Ignore ruff
.ruff_cache/
papers/anomaly_ukf/data/combined_statistics_error.csv

# mdBook output
book/book/

# Generated performance plots
data/output/*.png
