[workspace]
authors = ["James Brodovsky <james.brodovsky@gmail.com>"]
channels = ["conda-forge"]
name = "strapdown-rs"
platforms = ["linux-64", "osx-64", "win-64"]
version = "0.0.1"
description = "A simple strapdown INS implementation in Rust with accompanying simulation and geo-location capabilities."
license = "MIT"

[activation.env]
RUST_BACKTRACE = "1"
HDF5_DIR = "${PIXI_PROJECT_ROOT}/.pixi/envs/default"
RUSTFLAGS="-C link-args=-Wl,-rpath,.pixi/envs/default/include/lib"
PATH = "${PIXI_PROJECT_ROOT}/target/release:${PATH}"

[tasks]
build = "cargo build --workspace --release"
lint = "ruff check --select I --fix && cargo clippy --all-targets --all-features --fix -- -D warnings"
fmt = "ruff format . && cargo fmt"
preprocess = "python scripts/preprocess.py --input_dir data/raw/ --output_dir data/input/"
code = "code ."
coverage = "cargo tarpaulin --workspace --timeout 600"
#test = "pytest --cov=geophysical_nav --cov-report=xml --cov-report=html"

[tasks.getmaps]
args = [
    {"arg" = "input", "default" = "data/input/"},
    {"arg" = "buffer", "default" = "0.75"},
    {"arg" = "output", "default" = "data/input/"}
]
cmd = "python scripts/get_maps.py --input {{ input }} --buffer {{ buffer }} --output {{ output }}"

[tasks.create_dataset]
args = [
    {"arg" = "bin", "default" = "target/release/strapdown-sim"},
    {"arg" = "input", "default" = "data/input/"},
    {"arg" = "output_root", "default" = "data/"}
]
cmd = "python scripts/create_dataset.py --bin {{ bin }} --input {{ input }} --output-root {{ output_root }}"

[tasks.truth]
args = [
    {"arg" = "input", "default" = "data/input/"},
    {"arg" = "output", "default" = "data/baseline/"}
]
cmd = "python scripts/truth.py --input-dir {{ input }} --output-dir {{ output }}"

[dependencies]
python = ">=3.12,<3.14"
numpy = ">=2.3.4,<3"
pandas = ">=2.3.3,<3"
cartopy = ">=0.25.0,<0.26"
tqdm = ">=4.67.1,<5"
pygmt = ">=0.17.0,<0.18"
matplotlib = ">=3.10.7,<4"
haversine = ">=2.9.0,<3"
scipy = ">=1.16.3,<2"
rust = ">=1.91.0,<1.92"
rust-src = ">=1.91.0,<2"
filterpy = ">=1.4.5,<2"
notebook = ">=7.4.7,<8"
ipykernel = ">=7.1.0,<8"

[pypi-dependencies]
anglewrapper = ">=0.1.1, <0.2"

